---
layout:
title: Welcome
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

		{% include navbar.html %}


		<section class="section1">

		<div class="row">
			<div class="col-lg-5">
				<div class="index-header wow fadeIn">
					<h1>Irish water fountain</h1>
		  			<p>Take control of your water now.</p>
					<a href="/rino/docs/installation.html" style="width:250px;" type="button" id="dl-button" class="btn btn-primary btn-lg">Try it now! <i class="fa fa-2x fa-arrow-circle-o-down"></i></i></a>
				</div>
			</div>
			<br/>
			<br/>
			<div class="col-lg-7 proto">
			</div>
		</div>
		<div class="row scroll-arrow">
			<div class="col-lg-12 text-center">
				<h1><i style="color:white;" class="fa fa-angle-down fa-3x"></i></h1>
			</div>
		</div>


		</section>


		<div class="container index">
			<div class="row">

				<section id="section2">
					<div class="row">
							<div class="col-lg-6 col-lg-offset-3 blurb">
								<h1>Some blurb here.</h1>
								<p class="lead">Rino was developed by scientists, and tested by exhaustive use in semiconductor labs. </p>
							</div>
					</div>
				</section>

				<section class="section3">
					<div class="row">
							<div class="col-lg-6 col-lg-offset-3">
							<h2>Save money with these handy guides.</h2>
							<ul>
				              <li><a href="#">- Conserve shower water by doing this.</a></li>
				              <li><a href="#">- This is how much a bath costs.</a></li>
				              <li><a href="#">- Dont wash your clothes so much.</a></li>
				            </ul>
							</div>
					</div>
				</section>

				<section id="section4">
					<div class="row">
							<div class="col-lg-4 col-lg-offset-2">
								<h1>Dropbox integration.</h1>
								<p class="lead">Rino can integrate with Dropbox so you can take your data where ever you go.</p>
							</div>
							<div class="col-lg-4">
							</div>

					</div>
				</section>


				<section id="section5">
					<div class="row">
							<div class="col-lg-4 col-lg-offset-4 text-center">
								<h1>Ready? Get Rino now.</h1>
								<p class="lead">Its free and open source.</p>
									<a href="/rino/docs/installation.html" style="width:250px;" type="button" id="dl-button" class="btn btn-primary btn-lg">Get Rino!</a>
							</div>

					</div>
				</section>

			</div>
		</div>
		{% include footer.html %}

		<script type="text/javascript">
		</script>

	</body>
</html>