---
layout:
title: Welcome
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
		{% include navbar.html %}
		<a id="forkme_banner" href="https://github.com/tmeany/tmeany.github.io">GitHub</a>
          <a href="https://twitter.com/CUTEC" class="twitter-follow-button" data-show-count="false">Follow @CUTEC</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		<section class="section1">

			<div class="row">

				<div class="col-lg-5">

					<div class="index-header wow fadeIn">
						<!--<h1>Bio-Hackathon</h1>
			  			<h2>The UK's first Bio inspired Hackathon hosted by CUTEC.</h2>-->
			  			<a href="https://docs.google.com/forms/d/156LWmzeesaH2bano0HobmLVn0gSrMA8NDbmZ6QrvFZs/viewform" style="width:150px;" type="button" id="dl-button" class="btn btn-primary btn-lg">Enter!<i class="fa fa-2x fa-arrow-circle-o-down"></i></i></a>	
						
					</div>
				</div>
			<br/>
			<br/>

</section>
	<section>
		<h1 id="mentors">Mentors</h1>
			<div class="col-lg-7 proto">
			<div>
			<div style="float:left"><h3><a href="www.helenesteiner.com/"><img src="assets/img/helene_steiner.jpg" alt="Helene Steiner" width="200" height="130"></img></a> </h3>
			</div>
			<div style="float:right"><h3>Helene Steiner will join us from Microsoft Research. How does design help us ask the right questions and shape better solutions? Understanding not only the content but also context is the key to how people use what you create. This is something Helene knows first hand from experience in the Royal College of Art and MIT Media Lab.
			</h3></div>
			</div>

			<div>
			<div style="float:left"><h3><a href="http://www.bento.bio/"><img src="assets/img/bentobio.jpeg" alt="bentobio" width="150" height="150"></img></a></h3>
			</div>
			<div style="float:left"><h3>Bethan Wolfenden and Philipp Boeing will mentor groups on how to use portable technologies for innovative biology experiments. Bento is a London based start-up building portable bio-labs. The raspberry pi of biology!</h3></div>
			</div>

			<div>
			<div style="float:left"><h3><a href="http://www.biohackspace.org/"><img src="assets/img/londonhackspace.png" alt="London BioHackspace" width="150" height="150"></img></a></h3></div>
			<div style="float:left"><h3>Edoardo Gianni will teach us how to do biology on a shoestring! The London Biohackspace is dedicated to providing resources for DIY bio scientists.</h></div>
			</div>
			
			</div>
		</div>
		<div class="row scroll-arrow">
			<div class="col-lg-12 text-center">
			</div>
		</div>


		</section>


		<div class="container index">
			<div class="row">

				<section id="section2">
					<div class="row">
							<div class="col-lg-6 col-lg-offset-3 blurb">
								<h1 id="about">About</h1>
								<p class="lead"> This event is about putting together diverse teams to tackle a unique biological problem. If you are a scientist (from ANY discipline), an artist, an economist or have any unique experience and set of skills we want to hear from you! You will spend four days in a University synthetic biology lab where you will have access to  hardware, software and <i>bioware</i> prototyping tools. The challenge will be revealed to our teams on Tuesday. The final day of the competition will be a pitch at our annual Technology Ventures Conference with over 300 investors, VCs, startups, academics and students. Judges from industry will decide on the most novel solutions. The winning team gets a £1500 cash prize! We also will offer the most commercial solution as much help as we can to take it to the next stage including a place on the Accelerate-Cambridge program hosted by the Judge Business School. 
								</p>
							</div>
					</div>
				</section>

				<section class="section3">
					<div class="row">
							<div class="col-lg-4 col-lg-offset-4">
								<h1 id="enter"><a href="https://docs.google.com/forms/d/156LWmzeesaH2bano0HobmLVn0gSrMA8NDbmZ6QrvFZs/viewform">Entry</a></h1>
								
				              <h3> Entry is open to anyone from anywhere and any discipline. The competition is free to enter! We are concious that attendance from outside the Cambridge/London area isn't though. So if you need help securing low cost accommodation  GET IN TOUCH EARLY. Also if you need support then we have some scholarships (see below). </h3>
							<a href="https://docs.google.com/forms/d/156LWmzeesaH2bano0HobmLVn0gSrMA8NDbmZ6QrvFZs/viewform" style="width:150px;" type="button" id="dl-button" class="btn btn-primary btn-lg">Enter! <i class="fa fa-2x fa-arrow-circle-o-down"></i></i></a>
							</div>
							<div class="col-lg-4">
							</div>
					</div>
				</section>

				<section id="section4">
					<div class="row">
							<div class="col-lg-6 col-lg-offset-3">
							<h1 id="loc">Location</h1>
							<h3><img src="assets/img/plantsci.png" alt="Department of Plant Sciences" width="400" height="100"></img></h3>
							<style>
							  #map {
							    width: 500px;
							    height: 400px;
							    background-color: #CCC;
							    display: block;
    							margin-left: auto;
    							margin-right: auto
							  }
							</style>
							<div id="map"></div>
   							 <script>
					      						function initMap() {
					        var mapDiv = document.getElementById('map');
					        var map = new google.maps.Map(mapDiv, {
					          center: {lat: 52.202958, lng: 0.122408},
					          zoom: 17
					        });
					     	 }
					   		 </script>
					   		 <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
					        async defer></script>
					        <p>Department of Plant sciences, University of Cambridge, CB2 3EA
							</p>
							</div>
					</div>
				</section>

		<section id="section5">
					<div class="row">
							<div class="col-lg-4 col-lg-offset-4">
								<h1 id="scholar"><a href="https://docs.google.com/forms/d/156LWmzeesaH2bano0HobmLVn0gSrMA8NDbmZ6QrvFZs/viewform">Scholarships</a></h1>
				              <h2>We encourage you to apply for funding from other sources and are happy to advise. We want EVERYONE to be able to attend this event. If you don’t have other funding sources then please apply for a scholarship which will cover travel and accommodation.</h2>
							</div>
							<div class="col-lg-4">
							</div>

					</div>
				</section>
				<section id="section6">
					<div class="row">
							<div class="col-lg-4 col-lg-offset-4 text-center">
								<h1>Get in touch</h1>
								<h2>
								<a href="http://www.cutec.org">
       							<img src="assets/img/cuteclogo.png" alt="pic" width="100" height="130"> </a>
  								</h2>
								<p class="lead">Thomas Meany </p>
								<p class="lead">tdm34@cam.ac.uk</p>
							</div>

					</div>
				</section>

			</div>
		</div>
		{% include footer.html %}

		<script type="text/javascript">
		</script>

	</body>
</html>