---
layout:
title: Welcome
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
		{% include navbar.html %}
		<section class="section1">	
			<div class="row">
				<div class="col-lg-5">
					<div class="index-header wow fadeIn">
						<h1>Bio-Hackathon</h1>
			  			<p>The UK's first Bio inspired Hackathon hosted by CUTEC.</p>
						<a href="https://docs.google.com/forms/d/156LWmzeesaH2bano0HobmLVn0gSrMA8NDbmZ6QrvFZs/edit?usp=drive_web" style="width:150px;" type="button" id="dl-button" class="btn btn-primary btn-lg">Enter!<i class="fa fa-2x fa-arrow-circle-o-down"></i></i></a>
					</div>
				</div>
			<br/>
			<br/>
			<div class="col-lg-7 proto">
			<div><p><img src="assets/img/synbiobeta.jpg" alt="Synbiobeta" width="300" height="300"></img> </p>
			<p><ul>John Cumbers the CEO of Synbiobeta and former NASA Scientist will present the challenges to teams.</p><ul></div>
			<div><h1><img src="assets/img/bentobio.jpeg" alt="bentobio" width="300" height="300"></img></h1><p>Bethan Wolfenden and Philipp Boeing will mentor groups on how to use portable technologies for innovative biology experiments. Bento is a London based start-up building portable bio-labs. The raspberry pi of biology!</p></div>
			<div><h1><img src="assets/img/londonhackspace.png" alt="London BioHackspace" width="300" height="300"></img></h1><p>Edoardo Gianni will teach us how to do biology on a shoestring! The London Biohackspace is dedicated to providing resources for DIY bio scientists.</p></div>
			</div>
		</div>
		<div class="row scroll-arrow">
			<div class="col-lg-12 text-center">
			</div>
		</div>


		</section>


		<div class="container index">
			<div class="row">

				<section id="section2">
					<div class="row">
							<div class="col-lg-6 col-lg-offset-3 blurb">
								<h1>Challenge</h1>
								<p class="lead"> Revealed to our teams on Tuesday. The final day of the competition will be a pitch at our annual Technology Ventures Conference with over 300 investors, VCs, startups, academics and students.
								</p>
							</div>
					</div>
				</section>

				<section class="section3">
					<div class="row">
							<div class="col-lg-4 col-lg-offset-4">
								<h1 id="enter"><a href="https://docs.google.com/forms/d/156LWmzeesaH2bano0HobmLVn0gSrMA8NDbmZ6QrvFZs/edit?usp=drive_web">Entry</a></h1>
								
				              <li> The cost of the competition is £400 which covers accommodation for 5 nights and attendance at the Technology ventures conference. Meals are not included. Scholarships are available and we encourage those without funding to apply.</li>
				              <li> University of Cambridge</li>
				            </ul>
								<a href="https://docs.google.com/forms/d/156LWmzeesaH2bano0HobmLVn0gSrMA8NDbmZ6QrvFZs/edit?usp=drive_web" style="width:250px;" type="button" id="dl-button" class="btn btn-primary btn-lg">Enter!<i class="fa fa-2x fa-arrow-circle-o-down"></i></i></a>

							</div>
							<div class="col-lg-4">
							</div>

					</div>
				</section>

				<section id="section4">
					<div class="row">
							<div class="col-lg-6 col-lg-offset-3">
							<h1 id="loc">Location</h1>
							<p>Department of Plant sciences, University of Cambridge, CB2 3EA
							</p>
							<h3><img src="assets/img/plantsci.png" alt="laser and photonics reviews May issue" width="400" height="100"></img></h3>
							</div>
							<style>
							  #map {
							    width: 500px;
							    height: 400px;
							    background-color: #CCC;
							  }
							</style>
							<div id="map"></div>
   							 <script>
					      						function initMap() {
					        var mapDiv = document.getElementById('map');
					        var map = new google.maps.Map(mapDiv, {
					          center: {lat: 44.540, lng: -78.546},
					          zoom: 8
					        });
					     	 }
					   		 </script>
					   		 <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
					        async defer></script>
					</div>
				</section>

		<section id="section5">
					<div class="row">
							<div class="col-lg-4 col-lg-offset-4">
								<h1 id="scholar"><a href="https://docs.google.com/forms/d/156LWmzeesaH2bano0HobmLVn0gSrMA8NDbmZ6QrvFZs/edit?usp=drive_web">- Scholarships</a></h1>
				              <p>We encourage you to apply for funding from other sources and are happy to advise. We want EVERYONE to be able to attend this event. If you don’t have other funding sources then please apply for a scholarship which will cover travel and accommodation.</p>
							</div>
							<div class="col-lg-4">
							</div>

					</div>
				</section>
				<section id="section6">
					<div class="row">
							<div class="col-lg-4 col-lg-offset-4 text-center">
								<h1>Get in touch</h1>
								<h2>
								<a href="http://www.cutec.org">
       							<img src="assets/img/cuteclogo.png" alt="pic" width="100" height="130"> </a>
  								</h2>
								<p class="lead">Thomas Meany </p>
								<p class="lead">tdm34@cam.ac.uk.</p>
							</div>

					</div>
				</section>

			</div>
		</div>
		{% include footer.html %}

		<script type="text/javascript">
		</script>

	</body>
</html>