---
layout:
title:
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

        {% include navbar.html %}


        <section class="section1">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
            <h1>This is our prototype</h1>
            <p class="lead">Look at it move</p>



            </div>
        </div>
                


        </section>

        {% include footer.html %}

        <script type="text/javascript">
        </script>

    </body>
</html>